<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../Content/css/bootstrap-rtl.css" rel="stylesheet" />
    <title>DirectorRegister</title>
</head>
<body dir="rtl">
    <div class="container">
        <h1 class="form-signin-heading">הרשמה</h1>
        <h4>אנא מלא/י את הפרטים הבאים:</h4>
        <br />
        <div class="form-group">
            <div class="row">
                <label for="Username" class="col-md-2 control-label">שם משתמש: </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" data-bind="value:UserName, valueUpdate: 'keyup'"
                           placeholder=" שם משתמש" />
                    <span data-bind='visible: UserName.hasError, text: UserName.validationMessage'> </span>
                    <br />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="Username" class="col-md-2 control-label">שם פרטי: </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" data-bind="value:PName, valueUpdate: 'keyup'"
                           placeholder=" שם פרטי" />
                    <span data-bind='visible: PName.hasError, text: PName.validationMessage'> </span>
                    <br />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="Username" class="col-md-2 control-label">שם משפחה: </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" data-bind="value:FName, valueUpdate: 'keyup'"
                           placeholder=" שם משפחה" />
                    <span data-bind='visible: FName.hasError, text: FName.validationMessage'> </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">
                <br />
                תחום פרויקט:
            </label>
            <div>
                <br />
                <select class="btn btn-default" data-bind=" options:reserchOptions,optionsCaption: 'בחר/י',value: selectedReserch"></select>
            </div>
        </div>
        <br />
        <legend>מיקום הפרויקט:</legend>
        <label class="col-sm-2">
            <input type="checkbox" value="center'" data-bind="checked: Location">
            מרכז
        </label>
        <label class="col-sm-2">
            <input type="checkbox" value="uni" data-bind="checked: Location">
            אוניברסיטה
        </label>
        <label class="col-sm-2">
            <input type="checkbox" value="south" data-bind="checked: Location">
            דרום
        </label>
        <label class="col-sm-2">
            <input type="checkbox" value="north" data-bind="checked: Location">
            צפון
        </label>

        <br />
        <br />
        <legend>ימים עם זמינות לפרוייקט</legend>
        <label class="col-sm-1">
            <input type="checkbox" value="sun" data-bind="checked: freeDays">
            ראשון
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value="mon" data-bind="checked: freeDays">
            שני
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value="tue" data-bind="checked: freeDays">
            שלישי
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value="wedn" data-bind="checked: freeDays">
            רביעי
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value="thu" data-bind="checked: freeDays">
            חמישי
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value="fri" data-bind="checked: freeDays">
            שישי
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value="sat" data-bind="checked: freeDays">
            שבת
        </label>
        <br /><br />


        <div class="form-group">
            <label class="col-sm-1 control-label">
                <br />
                כמות פגישות לפרוייקט:
            </label>
            <div>
                <br />
                <select class="btn btn-default" data-bind=" options:amountDaysOptions,optionsCaption: 'בחר/י',value: selectedAmountDays"></select>
            </div>
        </div>
        <br />
        <br />



        <legend>קורסים נדרשים:</legend>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2">
                    <input type="checkbox" value="safe" data-bind="checked: courses">
                    תכנות בטוח
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="networks" data-bind="checked: courses">
                    רשתות תקשורת
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="machineler" data-bind="checked: courses">

                    למידת מכונה
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="dinalgos" data-bind="checked: courses">
                    אלגוריתמים דינמיים
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="pic" data-bind="checked: courses">
                    עיבוד תמונה
                </label>

                <label class="col-sm-2">

                    <input type="checkbox" value="swval" data-bind="checked: courses">
                    שיטות אימות לתוכנה
                </label>
            </div>
            <div class="row">
                <label class="col-sm-2">
                    <input type="checkbox" value="sql" data-bind="checked: courses">
                    מערכות מסדי נתונים
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="ai" data-bind="checked: courses">
                    בינה מלאכותית
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="gamesintro" data-bind="checked: courses">
                    מבוא לתורת המשחקים
                </label>

                <label class="col-sm-2">
                    <input type="checkbox" value="crypto" data-bind="checked: courses">
                    מבוא לקריפטוגרפיה
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="natlang" data-bind="checked: courses">
                    עיבוד שפות טבעיות
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="introInteligence" data-bind="checked: courses">
                    מבוא למערכות תבוניות
                </label>
            </div>
            <div class="row">
                <label class="col-sm-2">
                    <input type="checkbox" value="robotics" data-bind="checked: courses">
                    מבוא לרובוטיקה
                </label>

                <label class="col-sm-2">
                    <input type="checkbox" value="bioligic" data-bind="checked: courses">
                    ביולוגיה חישובית
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="decision" data-bind="checked: courses">
                    קבלת החלטות
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="dinamicAlgos" data-bind="checked: courses">
                    אלגוריתמים דינאמיים
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="advsql" data-bind="checked: courses">
                    מסדי נתונים מתקדמים
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="dataManage" data-bind="checked: courses">
                    ניהול נתוני עתק
                </label>
            </div>
            <div class="row">
                <label class="col-sm-2">
                    <input type="checkbox" value="picture" data-bind="checked: courses">
                    עיבוד תמונה
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="compsite" data-bind="checked: courses">
                    ראיה ממוחשבת
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="distributedSystems" data-bind="checked: courses">
                    מערכות מבוזרות
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="desidnTemp" data-bind="checked: courses">
                    עיצוב תבניות
                </label>
                <label class="col-sm-2">
                    <input type="checkbox" value="multimedia" data-bind="checked: courses">
                    מולטימדיה
                </label>

                <label class="col-sm-2">
                    <input type="checkbox" value="grafic" data-bind="checked: courses">
                    גרפיקה ממוחשבת
                </label>
            </div>
            <div class="row">
                <label class="col-sm-4">
                    <input type="checkbox" value="roboAlgos" data-bind="checked: courses">
                    שיטות אלגוריתמיות לפתרון בעיות רובוטים
                </label>
                <label class="col-sm-4">
                    <input type="checkbox" value="deapLearning" data-bind="checked: courses">
                    שיטות דיפ לרנינג לטקסטים ורצפים
                </label>

                <label class="col-sm-2">
                    <input type="checkbox" value="graphesTheory" data-bind="checked: courses">
                    תורת הגרפים
                </label>
            </div>
        </div>

        <br />
        <legend>שפות תכנות</legend>
        <label class="col-sm-1">
            <input type="checkbox" value="c" data-bind="checked: codeLang">
            C
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value="++c" data-bind="checked: codeLang">
            C++
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value="#c" data-bind="checked: codeLang">
            c#
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value="Java" data-bind="checked: codeLang">
            Java
        </label>

        <label class="col-sm-1">
            <input type="checkbox" value="HTML" data-bind="checked: codeLang">
            HTML
        </label>
        <label class="col-sm-1">
            <input type="checkbox" value=" python" data-bind="checked: codeLang">
            python
        </label>
        <label class="col-sm-2">
            <input type="checkbox" value="js" data-bind="checked: codeLang">
            Java Script
        </label>
        <label class="col-sm-2">
            <input type="checkbox" value="MATLAB" data-bind="checked: codeLang">
            MATLAB
        </label>
        <div class="form-group">
            <br />
            <br />
            <br />
            <div class="row">
                <div class="form-group-5">
                    <label for="comment">תיאור הפרוייקט:</label>
                    <textarea class="form-control" rows="5" data-bind="value:freeText"> </textarea>
                </div>
                </div>
                <br />
            <label for="comment">צרף קובץ דרישות פרוייקט:</label>
            <form action="/action_page.php">
                <input type="file" name="pic" accept="image/*" data-bind="value:pdf">
            </form>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-lg btn-primary" type="button" data-bind="click: StartBtn">Submit</button>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />
                <script src="../Scripts/jquery-3.2.1.js"></script>
                <script src="../Scripts/knockout-3.4.2.js"></script>
                <script src="../Scripts/knockout.validation.js"></script>
            <script src="../Scripts/ProjectDirectorScript.js"></script>
            </div>

            </div>
</body>
</html>