<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>myProjects</title>
</head>
<body>
    <div id="navbar"></div>

    <div class="container">
        <p align="center"><font size="8" color="blue">:הפרוייקטים שלי</font></p>
        <table class="table">
            <thead>
                <tr>
                    <th>שם הפרוייקט</th>
                    <th>תיאור</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable"></tbody>
        </table>
    </div>
    <script src="../Scripts/jquery-3.1.1.js"></script>
</body>
</html>