<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>myProjects</title>
</head>
<body>
    <div class="container">
        <p align="center"><font size="8" color="blue">:הפרוייקטים שלי</font></p>
        <table class="table">
            <thead>
                <tr>
                    <th>שם הפרוייקט</th>
                    <th>תיאור</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable"></tbody>
        </table>

        <br />
        <div class="form-group">
            <label class="col-sm-1 control-label  text-left"></label>
            <br />
            <br />
        </div>
        <button id="AddBtn" class="btn btn-lg btn-primary" type="submit">הוסף פרוייקט</button>

        <br />
    </div>
    <script src="../Scripts/packages/jquery-3.2.1.js"></script>
    <script src="../Scripts/packages/bootstrap-rtl.js"></script>
    <script src="../Scripts/ProjectsTable.js"></script>
</body>
</html>