<!DOCTYPE html>

<html >
<head>
	<meta charset="utf-8" />
	<title>Find your project </title>
	<link href="../Content/css/bootstrap-rtl.css" rel="stylesheet" />
</head>
<body style="background-color:powderblue">
	<p align="center"><font size="8" color="blue">ברוכים באים</font></p>
	<p align="center"><font size="4" clolor="blue">אתר זה מיועד להתאמת פרוייקט עבורכם בצורה הטובה ביותר</font></p>
	<p align="center">
		<font size="4" clolor="blue">
			לאחר ההרשמה תתבקשו למלא את העדפותיכם לפרוייקט על מנת שנוכל להתאים עבורכם את הפרוייקט בצורה הטובה ביותר
		</font>
	</p>
	<p align="center">
		<font size="4" clolor="blue">
			.אנא בחרו בכפתור המתאים
		</font>
	</p>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	<div align="center">
		<button id="btn_register" type="button" class="btn btn-primary">הרשמה</button>
		<button id="btn_signIn" type="button" class="btn btn-primary">כניסה</button>
	</div>
	<script src="../Scripts/packages/jquery-3.2.1.js"></script>
	<script src="../Scripts/packages/bootstrap-rtl.js"></script>
	<script src="../Scripts/WelcomeScript.js"></script>
</body>
</html>