<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>WELCOM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../Scripts/Register.js"></script>
</head>
<body style="background-color:powderblue">
    <p align="center"><font size="8" color="blue">ברוכים באים</font></p>
    <p align="center"><font size="4" clolor="blue">אתר זה מיועד להתאמת פרוייקט עבורכם בצורה הטובה ביותר</font></p>
    <p align="center">
        <font size="4" clolor="blue">
            לאחר ההרשמה תתבקשו למלא את העדפותיכם לפרוייקט על מנת שנוכל להתאים עבורכם את הפרוייקט בצורה הטובה ביותר
        </font>
    </p>
    <p align="center">
        <font size="4" clolor="blue">
            .אנא בחרו בכפתור המתאים
        </font>
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
 
    <div align="center">
        <button type="button" class="btn btn-primary" click="../Scripts/Register.js">הרשמה</button>
        <button type="button" class="btn btn-primary" click="">כניסה</button>
    </div>
</body>
</html>