<!DOCTYPE html>
<html>
<head>



    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8" />
    
    <title>Sample Projects</title>
</head>
<body dir="auto">
    <div class="bg-info">
        <br /><br /><br /><br />
        <div class="container" align="right">

            <h1><span class="badge badge-light text-primary">  בדף זה מוצגים פרויקטים לדוג'</span></h1>
            <h1><span class="badge badge-light text-primary">אנא דרג/י כל פרויקט לפי רמת התאמתו: </span></h1>
            <h1><span class="badge badge-light text-primary">(1 הכי פחות, 5 הכי הרבה)</span></h1>
            <br /><br />

            <div class="row">

                <div id="pdf" class="col-xl-9">
                    <object height="500" class="col-xl-12" type="application/pdf" data="../../files/industry/aclartech.pdf?#zoom=85&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content"></object>

                </div>
                
                <div class="col-xl-3 ">
                    
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" data-bind="Proj1score" value="1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" data-bind="Proj1score" value="2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" data-bind="Proj1score" value="3">
                            <label class="form-check-label" for="inlineRadio3">3 </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" data-bind="Proj1score" value="4">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" data-bind="Proj1score" value="5">
                            <label class="form-check-label" for="inlineRadio3">5 </label>
                        </div>
                  
                </div>
                


                </div>
           

            <br /><br /><br /><br />
            <div class="row">

                <div id="pdf" class="col-xl-10">
                    <object height="500" class="col-xl-12" type="application/pdf" data="../../files/industry/aclartech.pdf?#zoom=85&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content"></object>

                </div>
                <div class="col-xl-2">
                    bla



                </div>
            </div>
        </div>
    </div>
    <script src="../../Scripts/jquery-3.2.1.js"></script>


    <script src="../../Scripts/bootstrap-rtl.js"></script>
</body>
</html>
